@model IEnumerable<iCareWebApplication.Models.User>

@{
    ViewData["Title"] = "User List";
}

<h2>User List</h2>

<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>UserName</th>
            <th>Permissions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.UserName</td>
                <td>@user.PasswordHash</td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Role</a>
</p>
