@model IEnumerable<iCareWebApplication.Models.PatientTreatment>

@{
    ViewData["Title"] = "PatientTreatment List";
}

<h2>Patient Treatments</h2>

<table class="table">
    <thead>
        <tr>
            <th>PatientTreatmentID</th>
            <th>PatientID</th>
            <th>WorkerID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model)
        {
            <tr>
                <td>@patient.PatientTreatmentId</td>
                <td>@patient.PatientId</td>
                <td>@patient.WorkerId</td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Role</a>
</p>
