@model iCareWebApplication.Models.iCareDocument

<h2>Create New Document</h2>

<form asp-action="RegisterDocument" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="PatientId">Select Patient</label>
        <select asp-for="PatientId" asp-items="ViewBag.Patients" class="form-control" required>
            <option value="">-- Select Patient --</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="CreatedBy">Created By</label>
        <input asp-for="CreatedBy" type="number" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="CreationDate">Creation Date</label>
        <input asp-for="CreationDate" type="datetime-local" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="LastModified">Last Modified Date</label>
        <input asp-for="LastModified" type="datetime-local" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <textarea asp-for="Description" class="form-control" rows="3" required></textarea>
    </div>
    <div class="form-group">
        <label for="drugSelect">Select a drug:</label>
        <select id="drugSelect" name="DrugId" class="form-control">
            <option value="" selected disabled>Select a drug...</option>
            @foreach (var drug in (IEnumerable<dynamic>)ViewBag.Drugs)
            {
                <option value="@drug.DrugId">@drug.DrugName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="uploadingImage">Upload Images:</label>
        <input type="file" id="uploadImages" name="imageFiles" accept="image/*" class="form-control" multiple />
    </div>
    <button type="submit" class="btn btn-primary">Create Document</button>
</form>
