@model IEnumerable<iCareWebApplication.Models.Patient>

@{
    ViewData["Title"] = "Role List";
}

<h2>Role List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Role ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.PatientId</td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Role</a>
</p>
