@model IEnumerable<iCareWebApplication.Models.Drug>

@{
    ViewData["Title"] = "Role List";
}

<h2>Drug List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Drug ID</th>
            <th>DrugName</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.DrugId</td>
                <td>@role.DrugName</td>
                <td>@role.Description</td>
            </tr>
        }
    </tbody>
</table>
